<!DOCTYPE html>
<html>
<head>
  <title>BannerPersonSkeleton</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= include_gon %>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Banner Systems</a>
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="/">Banner Persons</a></li>
        <li><a href="/houses">Houses</a></li>
        <li><a href="/house_masters/intro">House Masters</a></li>
      </ul>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
